body::-webkit-scrollbar {
  width: 3px;
  background-color: #7999a9;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(42, 42, 42, 1);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(121, 153, 169, 0.8);
}

.modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(42, 42, 42, 1);
}

.modal::-webkit-scrollbar {
  width: 1.5px;
  background-color: #7999a9;
}

.modal::-webkit-scrollbar-thumb {
  background-color: rgba(121, 153, 169, 0.8);
  border: 0.5px solid #555555;
}

.modal__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(42, 42, 42, 1);
  z-index: 10;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  background-color: rgb(42, 42, 42, 1);
  z-index: 12;
  padding: 44px 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.arrowWrapper {
  display: none;
}

.modal__title {
  width: 240px;
  text-align: left;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  color: #cacaca;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: -2px;
  text-transform: lowercase;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 12px;
}
.modal__subTitle {
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.045em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
  color: #cacaca;
  margin-bottom: 8px;
}
.modal__title::after,
.modal__subTitle::after {
  content: "";
  display: block;
  height: 1px;
  width: 280px;
  background-color: rgba(182, 182, 182, 0.5);
  margin-top: 12px;
}
.modal__description {
  font-family: "Lato", "Open Sans", Verdana, sans-serif;
  color: #b6b6b6;
  text-align: left;
  font-size: 1.05em;
  font-weight: 400;
  line-height: 1.7em;
  word-spacing: 0.02em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 14px;
}
.modal__description span {
  display: block;
}

.modal__imgWrapper {
  position: relative;
  width: 100%;
  border-radius: 1%;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-bottom: 20px;
}
.modal__Image {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
.modal__imgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 5px 50px 5px rgba(0, 0, 0, 0.3);
}

.item_bar {
  background-color: #7999a9;
  text-align: center;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
.barHeading {
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  text-transform: uppercase;
  color: #e7ff20;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  padding: 2.5px 0px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}

.modal__linkMd {
  display: none;
}

.modal__techList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.techList__item {
  text-transform: uppercase;
  font-family: "Lato", "Open Sans", Verdana, sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(76, 76, 77, 0.95);
  border-radius: 4%;
  padding: 4px 6px;
  margin: 4px;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  fill: rgb(202, 202, 202);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal {
    left: 50%;
    transform: translateX(-50%);
    min-height: 100%;
    width: 560px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    z-index: 12;
    padding: 44px 30px;
  }

  .arrowWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    position: absolute;
    z-index: 11;
  }
  .modal__arrows {
    display: flex;
    justify-content: flex-start;
    width: 50px;
    height: 80px;
    fill: rgb(202, 202, 202);
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.6));
  }
  .arrowObjTitle {
    display: none;
  }

  .modal__title {
    width: unset;
    font-size: 42px;
  }
  .modal__subTitle {
    font-size: 34px;
    margin-bottom: 12px;
  }
  .modal__title::after,
  .modal__subTitle::after {
    width: 500px;
    margin-top: 14px;
  }

  .modal__imgWrapper {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 24px;
  }
  .modal__imgOverlay {
    box-shadow: inset 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
  }

  .barHeading {
    padding: 3px 0px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  }

  .closeIcon {
    top: 28px;
    right: 28px;
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1024px) {
  .modal {
    width: 720px;
  }
  .arrowWrapper {
    width: 94%;
  }
  .inlineArrowWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .inlineArrowWrapper:nth-child(1) {
    height: 80px;
    width: 86px;
  }
  .inlineArrowWrapper:nth-child(2) {
    height: 80px;
    width: 94px;
  }

  .modal__arrows {
    width: 50px;
  }
  .arrowObjTitle {
    display: flex;
    justify-self: left;
    text-align: center;
    max-width: 36px;
    font-family: "Montserrat Medium", Tahoma, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: rgba(202, 202, 202, 0.7);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    text-transform: lowercase;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 500ms;
  }

  .inlineArrowWrapper:hover .arrowObjTitle {
    opacity: 1;
  }

  .modal__title::after,
  .modal__subTitle::after {
    width: 660px;
  }

  .modal__imgWrapper {
    width: 86%;
    margin: 24px auto;
  }

  .closeIcon {
    top: 26px;
    right: 30px;
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1400px) {
  .modal {
    width: 800px;
  }
  .arrowWrapper {
    width: 76%;
  }
  .inlineArrowWrapper:nth-child(1) {
    width: 110px;
  }
  .inlineArrowWrapper:nth-child(2) {
    width: 126px;
  }

  .modal__arrows {
    width: 65px;
  }
  .arrowObjTitle {
    width: 60px;
    font-size: 12px;
  }

  .modal__title::after,
  .modal__subTitle::after {
    width: 740px;
  }
}
