.welcome__pageWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: rgba(42, 42, 42, 0.95);
  padding: 40px 10px 0px 10px;
}
.welcome__innerWrapper {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
}
.welcome__photoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
}

.welcome__photo {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.welcome__mainTitle {
  width: 220px;
  display: block;
  text-align: center;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  color: #cacaca;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -2px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  margin-bottom: 10px;
}

.welcome__mainSubtitle {
  width: 300px;
  text-align: center;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  font-size: 16px;
  color: #cacaca;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
  font-weight: 600;
  position: relative;
  display: block;
  letter-spacing: -0.045em;
  margin: 0 auto;
  margin-bottom: 8px;
}

/* .welcome__mainTitle::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 50%;
  background-color: rgba(182, 182, 182, 0.5);
  margin-top: 12px;
} */

.welcome__mainSubheading {
  text-align: center;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  font-size: 24px;
  color: #cacaca;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
  font-weight: 600;
  position: relative;
  display: block;
  letter-spacing: -0.045em;
  margin-bottom: 4px;
}

.welcome__description {
  width: 284px;
  font-family: "Lato", "Open Sans", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #b6b6b6;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 8px;
}

.welcome__description::after,
.welcome__mainTitle::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 170px;
  background-color: rgba(182, 182, 182, 0.5);
  margin-top: 10px;
}

.welcome__description span {
  display: none;
}

.welcome__description .contactSpan {
  display: block;
}

.welcome__link {
  display: inline-block;
  color: rgba(231, 255, 32, 0.8);
  font-weight: 700;
}

.welcome__skillsList {
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.welcome__skillsItem {
  text-transform: uppercase;
  font-family: "Lato", "Open Sans", Verdana, sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(76, 76, 77, 0.95);
  border-radius: 4%;
  padding: 4px 6px;
  margin: 4px;
}
