.enter {
  opacity: 0.2;
  transform: translateX(50px);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms ease-in-out, transform 450ms ease-in-out;
}

.exit {
  opacity: 1;
  transform: translateX(0);
}

.exitActive {
  opacity: 0.2;
  transform: translateX(50px);
  transition: opacity 350ms ease-in-out, transform 450ms ease-in-out;
}
